<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>尚书网</title>
    <link href="css/back.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" >
</head>
<body>
        <nav class="navbar navbar-inverse header">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">后台管理系统</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">管理员</a></li>
                        </ul>
                    </div>
                </div>
        </nav>

        <div class="col-md-8 col-md-offset-2 content">
            <div class="nav_div">
                    <a href="./back_look.html"><button type="button" class="btn btn-success">查看</button></a>
                    <a href="./back_add.html"><button type="button" class="btn btn-success">添加</button></a>
                    <hr class="aligncenter">
            </div>
                        <div class="form-group"> 
                        <form class="navbar-form navbar-left" role="search" action="insert" method="post">
                          图书链接：<input type="text" class="form-control" placeholder="图书链接" name="pic">
                          <br>
                          <br>
                          图书名称：<input type="text" class="form-control" placeholder="图书名称" name="title">
                          <br>
                          <br>
                          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp作者：<input type="text" class="form-control" placeholder="图书名称" name="author">
                          <br>
                          <br>
                          <div class="am-form-group">
                          简介1:
                          <div class="am-u-sm-9">
                          <textarea  style="width: 200%" rows="5" id="user-intro" name="text" placeholder="输入内容">
                          </textarea>
                          </div>
                          </div>
                          <br>
                          <br>
                          简介2:</label>
                          <div class="am-u-sm-9">
                          <textarea style="width: 200%"  rows="5" id="user-intro" name="text1" placeholder="输入内容">
                          </textarea>
                          <br>
                           
                          <br>
                          图书价格：<input type="text" class="form-control" placeholder="图书价格" name="price">
                          <br>
                          <br>
                          <input type="submit" class="btn btn-success" value="添加">
                        </form>
                        </div>
                        
                    
        </div>
</body>
</html>