<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>尚书网</title>
    <link href="__STATIC__/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" >
    <style type="text/css">
       #h{
        background: url(images/header.png) no-repeat center top;
      }
    </style>
</head>
<body>

        <div id="h" class="bg">


                  
                    <div class="col-md-6 col-md-offset-3 zc">
                        <h2>
                          欢迎登陆尚书网！
                        </h2> 
                        
                        <hr class="aline">
                        <form action="land" method="post">
                          &nbsp;&nbsp;用户名：<input type="text" id="user" required placeholder="用户名" name="user">
                          <br>
                          <br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码：<input type="password" id="pwd" required placeholder="输入你的密码" name="pwd" />
                          <br>
                          <br>
                          <input type="submit" id="login" class="btn btn-success" value="登录" name="submit">
                          <input type="reset" id="cz" class="btn btn-success niu" value="重置" name="reset">
                          </form>
                          <br>
                          <br>
                          <p>还没账号,<a href="login.html">前往注册</a></p>
                    </div>
                   
                </div>
        </div>
      <div style="clear: both;"></div>
        <div id="copyrights">
            <p>
              &copy; &nbsp;解释权归 <a>尚书网</a> 所有&nbsp; Nice 
            </p>
        </div>
      
      
 </body>
</html>